<%= link_to create_url(grade.id, params[:matter_id]), :class =>"grade" do %>
    <%= image_tag grade.illustration, class: 'img-illus-grade' %>
    <p class="grade-title"><%= grade.title %></p>
<% end %>