

<%= link_to create_url(params[:classe_id], matter.id), :class => "matter" do %>
    <%= image_tag matter.illustration, class: 'img-illus-matter' %>
    <p class="matter-title"><%= matter.title %></p>
<% end %>
